body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background: #1b68ab6d;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 2px 5px #ccc;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

textarea {
    resize: vertical;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #35424a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background: #455a64;
    cursor: pointer;
}

h1, h2 {
    color: #35424a;
}

p {
    margin-bottom: 10px;
}
